:root {
  --first: rgb(127, 0, 31);
  --second: rgb(255, 129, 6);
  --hover: rgb(254, 195, 77);
  --green: rgb(50,200, 50);
  --blue: rgb(0, 123, 255);
  --background: rgb(234, 234,234);
  --error: rgb(255, 43, 0);;
  --spacing: 1px;
  --border-radius: 4px;
  --transition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-size: 14px;
  background-color: var(--background);
  min-height: 100vh;
}